@model PointJalkahoitoDemoJM.Models.Asiakas

@{
    ViewBag.Title = "Details";
}

<h2>Asiakastiedot</h2>
<p>
    @Html.ActionLink("Tee uusi varaus", "Create", "Varaukset")
</p>
<div>
    <h4>Asiakas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Henkilotunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Henkilotunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huomiot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huomiot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sahkoposti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sahkoposti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoite.Katuosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite.Katuosoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelin.Puhelinnumero_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelin.Puhelinnumero_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoitaja.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitaja.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Varaus.Palvelun_Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Varaus.Palvelun_Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palvelu.Palvelun_Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palvelu.Palvelun_Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kayttaja.Käyttäjätunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kayttaja.Käyttäjätunnus)
        </dd>

    </dl>

<p>
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.Asiakas_id }) |
    @Html.ActionLink("Takaisin asiakashallintaan", "Index")
</p>
<h4>Asiakkaan hoitotiedot</h4>
@*1.2.2017 Lisätty alitiedostot Palvelut*@

<table class="table">
    <tr>
        <th>
            Päivämäärä
        </th>
        <th>
            Varausaika alkaa
        </th>
        <th>
            Varausaika loppuu
        </th>
        <th>
            Palvelun nimi
        </th>
        <th>
            Palvelun kesto
        </th>
        <th>
            Hoitajan nimi
        </th>
        <th>
            Huomiot
        </th>
    </tr>
    @foreach (var item in Model.Varaus1)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loppu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Palvelu1.Palvelun_Nimi)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Palvelu1.Palvelun_Kesto)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Hoitaja1.Etunimi)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Asiakas1.Huomiot)
            </td>

        </tr>
    }
</table>
</div>
