@model PointJalkahoitoDemoJM.Models.Kayttaja

@{
    ViewBag.Title = "Delete";
}

<title>PointCollege Ajanvarausohjelmisto</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Poista</h2>

<h3>Käyttäjätunnuksen poistaminen vaatii admin oikeudet</h3>
<div>
    <h4>Käyttäjätunnus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Käyttäjätunnus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Käyttäjätunnus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salasana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salasana)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Asiakas1.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakas1.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Henkilokunta1.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Henkilokunta1.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoitaja1.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoitaja1.Etunimi)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-default w3-red" /> |
            @Html.ActionLink("Takaisin käyttäjätunnushallintaan", "Index")
        </div>
    }
</div>
