@model IEnumerable<PointJalkahoitoDemoJM.Models.Henkilokunta>

@{
    ViewBag.Title = "Index";
}

<title>PointCollege Ajanvarausohjelmisto</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .w3-sidenav a {
        font-family: "Roboto", sans-serif;
    }

    body, h1, h2, h3, h4, h5, h6, .w3-wide {
        font-family: "Montserrat", sans-serif;
    }
</style>

<body class="w3-content" style="max-width:1200px">

    <!-- Sidenav/menu -->
    <nav class="w3-sidenav w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidenav">
        <div class="w3-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-closebtn w3-hover-text-red"></i>
            <h3 class="w3-wide" style="margin-top:100px"><b>PointCollege</b></h3>
        </div>
        <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold; font-size:15px">

            <a href="/Index">Aloitussivu&raquo;</a>
            <a href="/Asiakkaat">Asiakashallinta&raquo;</a>
            <a href="/Henkilokuntas">Henkilökuntahallinta&raquo;</a>
            <a href="/Hoitajat">Hoitajahallinta&raquo;</a>
            <a href="/Hoitopaikat">Hoitopaikkahallinta&raquo;</a>
            <a href="/Kayttajat">Käyttäjähallinta&raquo;</a>
            <a href="/Osoitteet">Osoitehallinta&raquo;</a>
            <a href="/Palvelut">Palveluhallinta&raquo;</a>
            <a href="/Puhelimet">Puhelinhallinta&raquo;</a>
            <a href="/Toimipisteet">Toimipistehallinta&raquo;</a>
            <a href="/Varaukset">Varaustenhallinta&raquo;</a>
            <a href="#">#</a>
            <a href="#">#</a>
            <a href="#">#</a>
            <div class="w3-accordion">
                <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-text-black" id="myBtn">
                    # <i class="fa fa-caret-down"></i>
                </a>
                <div id="demoAcc" class="w3-accordion-content w3-padding-large w3-medium">
                    <a href="#" class="w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>#</a>
                    <a href="#">#</a>
                    <a href="#">#</a>
                    <a href="#">#</a>
                </div>
            </div>
        </div>
        <a href="#footer" class="w3-padding">Yhteystiedot</a>
        <a href="javascript:void(0)" class="w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Tiedotteet</a>
        <a href="#footer" class="w3-padding">Kirjaudu</a>
    </nav>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:83px"></div>

        <!-- Top header -->
        <header class="w3-container w3-xlarge">
            <p class="w3-left" style="margin-left:-8px;margin-top:50px;font-size:18px">Henkilökuntahallinta</p>
            <p class="w3-right">
                <i class="fa fa-search"></i>
            </p>
        </header>
        

        <p style="padding-left:8px;font-size:12px">
            @Html.ActionLink("Uusi henkilökuntatieto", "Create")
        </p>
        <table class="w3-table-all w3-striped w3-bordered" style="padding-left:8px;font-size:12px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Kayttaja.Käyttäjätunnus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Etunimi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sukunimi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Henkilotunnus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Huomiot)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sahkoposti)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Osoite.Katuosoite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Puhelin.Puhelinnumero_1)
                </th>
              
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kayttaja.Käyttäjätunnus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etunimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sukunimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Henkilotunnus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Huomiot)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sahkoposti)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Osoite.Katuosoite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Puhelin.Puhelinnumero_1)
                    </td>
                
                    <td>
                        @Html.ActionLink("Muokkaa", "Edit", new { id = item.Henkilokunta_id }) |
                        @Html.ActionLink("Tiedot", "Details", new { id = item.Henkilokunta_id }) |
                        @Html.ActionLink("Poista", "Delete", new { id = item.Henkilokunta_id })
                    </td>
                </tr>
            }

        </table>
        </div>
</body>